body{
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 310px;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
}
.cell:hover{
    background-color: #555;
}
#restartBtn{
    padding: 10px 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    border: none;
}